body{
	background-image: url("../images/background 4.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	
}	

nav ul li {
  list-style-type: none;
  display:flex;
  float:left;
  padding:20px;
}

nav ul {
  display: flex;
  padding: 20px;
  border:cyan;
  float:right;
  font-size: 30px;   
}

.main-container{
	font-family: 'opensans-regular',sans-serif;
	min-height: 490px;
	text-align:center;
	color:white;
	padding-top: 200px;
  }
  
 nav ul li a:hover{
	background-color:rgb(238, 130, 238);
}
